body, h1, h2, h3, p, figure, ul {
	margin: 0;
	padding: 0;
}

.none {
	display: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/***************顶部导航栏*************/
#headerView {
	width: 100%;
	min-width: 1263px;
	height: 70px;
	background-color: #333;
}

#headerView .header-center {
	width: 1263px;
	height: 70px;
	margin: 0 auto;
}

#headerView .header-title {
	background-image: url(../img/logo.png);
	background-color: red;
	width: 240px;
	height: 70px;
	text-indent: -9999px;
	float: left;
}

#headerView .header-nav {
	float: right;
	line-height: 70px;
	/*background-color: red;*/
	width: 650px;
}

#headerView .header-nav li {
	float: left;
	width: 120px;
	text-align: center;
}

#headerView .header-nav a {
	color: #eee;
	display: block;
}

#headerView .header-nav a:hover {
	background-color: #000;
}

#headerView .selected {
	background-color: #000;
}


/***************底部*************/
#footer {
	width: 100%;
	height: 360px;
	background-color: #333;
	min-width: 1263px;
}

#footer .top {
	width: 1263px;
	height: 280px;
	text-align: center;
	margin: 0 auto;
}

#footer .content {
	/*background-color: red;*/
	width: 410px;
	display: inline-block;
	text-align: left;
	height: 280px;
	vertical-align: top;
}

#footer h2 {
	margin: 20px 0 0 20px;
	font-size: 24px;
	font-weight: normal;
	color: #ccc;
}

#footer hr {
	width: 90%;
	border: 1px dashed #444;
}

#footer ul {
	font-size: 18px;
	color: #777;
	text-indent: 20px;
	line-height: 2;
}

#footer .bottom {
	height: 80px;
	background-color: #000;
	color: #777;
	text-align: center;
	line-height: 80px;

}

