@charset "utf-8";

/***************背景图*************/
#headline {
	height: 300px;
	min-width: 1263px;
	width: 100%;
	background: linear-gradient(to right bottom, rgba(0,0,0,0.7), rgba(255,255,255,0)), url(../img/headline.jpg) no-repeat center;
}

#headline .center {
	width: 1263px;
	height: 300px;
	margin: 0 auto;
}

#headline hgroup {
	padding: 100px 0 0 50px;
}

#headline h2 {
	color: #fff;
	letter-spacing: 1px;
	font-size: 36px;
}

#headline h3 {
	color: #fff;
	letter-spacing: 1px;
	font-size: 20px;
}

/***************内容*************/
#container {
	width: 1263px;
	height: 1200px;
	margin: 30px auto;
}

#container .sidebar {
	width: 340px;
	height: 1200px;
	/*background-color: #eee;*/
	float: right;
}

#container .list {
	width: 900px;
	height: 1200px;
	background-color: #ccc;
	float: left;
}


/***************右边框*************/
/*景点推荐*/
#container .sidebarbox {
	border: 1px solid #eee;
	margin: 0 0 10px 0;
	text-align: center;
}

#container .sidebarbox h2 {
	font-weight: normal;
	font-size: 20px;
	color: #666;
	text-align: left;
	letter-spacing: 1px;
	background-color: #fafafa;
	padding: 4px 10px;
}

#container .recommend-tag {
	padding: 10px 0;
}

#container .recommend a {
	display: inline-block;
	width: 100px;
	height: 35px;
	background-color: #eee;
	margin: 2px 0;
	color: #999;
	line-height: 35px;
}

#container .recommend a:hover {
	color: #fff;
	background-color: #458b00;
}

/*热门旅游*/
#container .hot-figure {
	margin: 10px 0;
}

#container .hot-figure figure {
	display: inline-block;
	margin: 0 4px 6px 0;
}

#container .hot-figure figcaption {
	color: #666;
}

/*旅游百宝箱*/
#container .treasure-query {
	padding: 10px 0;
}

#container .treasure-query a {
	//background-color: #eee;
	color: #999;
	display: inline-block;
	width: 150px;
	height: 40px;
	line-height: 40px;
	margin: 2px 0;
	text-align: left;
	text-indent: 44px;
}

#container .treasure-query .query1 {
	background: #eee url(../img/trea1.png) no-repeat 16px center;
}

#container .treasure-query .query2 {
	background: #eee url(../img/trea2.png) no-repeat 16px center;
}

#container .treasure-query .query3 {
	background: #eee url(../img/trea3.png) no-repeat 16px center;
}

#container .treasure-query .query4 {
	background: #eee url(../img/trea4.png) no-repeat 16px center;
}


